body {
    font-family: Arial, sans-serif;
    padding: 30px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  form {
    margin-bottom: 30px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 50%;
  }
  
  button[type="button"] {
    padding: 10px 20px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  li {
    list-style: none;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  button[type="button"].deleteTaskButton {
    background-color: red;
    color: white;
  }
  